:root {
    --main-dark: #111213;
    --main-accent: #11BA9A;
    --main-accent2: #24173d;
    --main-accent3: #7fc7ba;
    /* --main-accent3: #9E8DB3; */
}

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-accent2);
}

header {
    height: 100px;
    background-color: var(--main-dark);
    display: flex;
    align-items: center;
    padding: 0 2%;
}

#header-logo {
    left: 0;
    height: 100px;
}

#header-left {
    display: flex;
    align-items: center;
    flex: 70%;
   
}
#logo {
     color: #11BA9A;
    font-family: Roboto Flex;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;

}

nav {
    flex: 30%;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header li {
    display: inline-block;
    padding: 0px 10px;
}

header a {
    color: var(--main-accent);
    text-decoration: none;
    font-size: 30px;
}

aside {
    position: fixed;
    bottom: 0;
    width: 80px;
    height: 291px;
    left: 1%;


    background:var(--main-accent);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    z-index: 1;
}

.sidebar-icons {
    height: 40px;
    width: 40px;
}

.contentGrid {
    padding: 1%;
    display: grid;
    column-gap: 1%;
    row-gap: 1%;
}

#aboutme {
    height: 100vh;
    grid-template-rows: 7fr 3fr;
    grid-template-columns: 80px auto;
    grid-template-areas:
        "titlebar hero"
        "titlebar text"
    ;
}

#aboutme-hero {
    grid-area: hero;

    background-image: url("./images/keyboard-hero.png");
    background-size: cover;
    background-position: center;

    /* background: #D9D9D9; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;

}

#aboutme-hero h3 {
    color: white;
    font-size: 96px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    margin: 0 10%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50px;
}

#monospace {
    width: 100%;
    display: inline;
    font-family:  monospace;
    color: var(--main-accent);
}

#aboutme-text {
    height: 100%;
    grid-area: text;
    font-size: 36px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-accent3);
    border-radius: 0 0 50px 50px;
    text-align: center;
}

.titlebar {
    grid-area: titlebar;
    width: 80px;
    margin: 0 0;

    background: var(--main-dark);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.titlebar h2 {
    color: var(--main-accent);
    
    font-size:5vh;
    font-weight: bolder;
     transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;

}

.titlebar div {
    border: solid #11BA9A;
    padding: 50px 0px;
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#projects {
    height: 100vh;
    grid-template-columns: 80px auto;
    grid-template-areas:
        "titlebar projectgrid"
    ;
}

#projects-grid {
    grid-area: projectgrid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "p1 p1 p1"
        "p4 p5 p2"
        "p3 p3 p2"
    ;
    column-gap: 0;
    row-gap: 0;
    padding: 0;
}

.project-content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid var(--main-accent);
    border-radius: 1px;
    text-decoration: none;
}

#project-prework {
    grid-area: p1;
    background-image: url("./images/prework-proj.jpg");
    border-radius: 50px 50px 0 0;
}

#project-tarot {
    grid-area: p2;
    background-image: url("./images/tarot-proj.png");
    border-radius: 0 0 50px 0;
}

#project-readability {
    grid-area: p3;
    background-image: url("./images/readability-proj.jpg");
    border-radius: 0 0 0 50px;
}

#project-caesar {
    grid-area: p4;
    background-image: url("./images/cipher-proj.png");
}

#project-LED {
    grid-area: p5;
    background-image: url("./images/LED-proj.jpg");
}

.project-title-container {
    height:20%;
    font-size:3vh;
    border-top: solid #11BA9A;
    border-left: solid #11BA9A;
    border-radius: 30px 0 0 0 ;
    background-color: rgba(0,0,0,0.8);
    padding:1% 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

#title-tarot {
    border-radius: 50px 0 50px 0;
}

#contact {
    height: 100vh;
    grid-template-rows: 7fr 3fr;
    grid-template-columns: 80px 1fr 1fr;
    grid-template-areas:
        "titlebar top top"
        "titlebar bottom1 bottom2"
    ;
}

#contact-top{
    grid-area: top;

    background-image: url("./images/network-hero.jpg");
    background-size: cover;
    background-position: center;

    /* background: #D9D9D9; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
}

#contact-top h3 {
    height: auto;
    color: white;
    font-size: 96px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    margin: 0 10%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50px;
}

#contact-bottom-1{
    grid-area: bottom1;

        height: 100%;
        font-size: 36px;
        /* padding: 0 50px; */
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end;
        align-items: flex-start; */
        background-color: var(--main-accent3);
        border-radius: 0 0 50px 50px;
        text-align: center;
}

#contact-bottom-2{
    grid-area: bottom1;

        height: 100%;
        font-size: 36px;
        /* padding: 0 50px; */
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end;
        align-items: flex-start; */
        background-color: var(--main-accent3);
        border-radius: 0 0 50px 50px;
        text-align: center;
}


#contact-bottom-1 p {
    padding: 5% 2%;
    flex-grow: 100px;
}

.contact-title-container {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact-title-container2 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-title {
    height:100%;
    font-size:3vh;
    border-bottom: solid #000000;
    border-left: solid #000000;
    border-radius: 0 0 0 30px ;
    background-color: rgba(0,0,0,0.8);
    padding:0% 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.contact-title2 {
    height:100%;
    font-size:3vh;
    border-bottom: solid #000000;
    border-left: solid #000000;
    border-radius: 0 0 30px 0 ;
    background-color: rgba(0,0,0,0.8);
    padding:0% 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

#contact-bottom-2{
    grid-area: bottom2;
}

#footer {
    height: 150px;
    grid-template-columns: 80px auto;
    grid-template-areas:
        "titlebar footer"
    ;
}

footer {
    grid-area: footer;
    height:100px;
    border-radius: 50px;
    background-color: var(--main-dark);
    color: var(--main-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    flex-direction: column;
    padding:20px 30px;
    text-justify: center;
}

/* 
.titlebar-container 
{

    grid-area: titlebar;
    width: 100vh;
    height:80px;
 
    display: flex;
    justify-content:center;
    align-items: center;
    transform: rotate(270deg);
}

.titlebar {

    height: 80px;
    width: 100%;
    
    
    
    margin: 0 0;
    /* margin: 0px 10px; */
/* 
    background: var(--main-dark);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
/*} */

/* .titlebar h2 {
    /* margin-top: -200px; */
    /* color: var(--main-accent);
    font-size: 50px;
    font-weight: bolder;
    /* transform: rotate(270deg); */
/* } */